@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html,
body {
  @apply relative bg-primary-200 font-medium tracking-tight antialiased;
  @apply selection:bg-orange-500 selection:text-primary-200;
}

h1,
h2,
h3,
h4 {
  @apply font-oswald uppercase;
}

.tooltip {
  @apply invisible absolute z-[9999] rounded-md bg-secondary-200 px-4 py-2;
  @apply text-nowrap font-oswald text-sm leading-normal text-primary-100;
}

@keyframes fadeContent {
  form {
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
